$dark-cyan: #0E8784;
$button-hover:  #66D2CF;
$button-active:  #E2DEDB;
$dark-grey: #333D4B;
$pale-orange: #FDD6BA;
$light-cream: #FEFCF7;
$grey: #83888F;
$very-dark-grey: #2C343E;
$light-grey: #F4F1EB;
$white: #FFFFFF;