.choice-subscribe{
  margin-bottom: 168px;

  &__inner-wrapper{
    max-width: 1150px;
  }

  &__container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__left{
    position: sticky;
    top: 10px;
    max-width: 255px;
    width: 100%;
    margin-right: 20px;
    padding-bottom: 392px;

  }

  &__left-list{
    font-family: "Fraunces";
    color: $grey;
  }

  &__left-item{
    display: flex;
    align-items: center;
    opacity: .4;

    &:not(:last-child){
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid $grey;
    }

    &:first-child .choice-subscribe__left-number{
      color: $dark-cyan;
    }
  }

  &__left-link{
    text-decoration: none;
  }

  &__left-number{
    margin-right: 28.5px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: $grey;
  }

  &__left-text{
    text-transform: capitalize;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: $dark-grey;
  }

  &__left-item--active{
    opacity: 1;

  }

  &__right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 730px;
    width: 100%;
  }


  &__right-item{
    margin-bottom: 88px;
  }

  &__right-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
  }

  &__right-heading{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: $grey;
  }

  &__right-btn{
    cursor: pointer;
    width: 18px;
    height: 12px;
    display: inline-block;
    border: none;
    background: none;
    outline: none;
    background-image: url("./../../images/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(180deg);
  }

  &__right-item--active &__right-bottom{
    display: flex;
  }

  &__right-item--active &__right-btn{
    transform: rotate(0deg);
  }

  &__right-bottom{
    display: none;
    align-items: stretch;
    justify-content: space-between;
  }

  &__right-label{
    max-width: 228px;
    width: 100%;
    min-height: 250px;
    height: 100%;
    cursor: pointer;

    & + & {
      margin-left: 23px;
    }

  }

  &__right-input{
    display: none;

    &:checked + .choice-subscribe__input-wrapper{
      background-color: $dark-cyan;

      .choice-subscribe__input-heading, .choice-subscribe__input-text{
        color: $light-cream;
      }
    }
  }

  &__input-wrapper{
    border-radius: 8px;
    background-color: $light-grey;
    padding: 32px 24px 84px;
    display: inline-block;
    height: 100%;
    transition: all 0.3s ease;

    &:hover{
      background-color: $pale-orange;
      transform: scale(1.05);
    }

    &:active{
      opacity: 0.6;
    }
  }

  &__input-heading{
    display: inline-block;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: $dark-grey;
    margin-bottom: 24px;
  }

  &__input-text{
    display: inline-block;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $dark-grey;
  }

  &__result{
    padding: 27px 64px;
    background-color: $very-dark-grey;
    margin-bottom: 40px;
  }

  &__result-heading{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: $white;
    opacity: 0.5;
    margin-bottom: 8px;
  }

  &__result-text{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: $white;
  }

  &__result-span{
    color: $dark-cyan;
  }
}

@media only screen and (max-width: 1060px){
  .choice-subscribe{
    margin-bottom: 144px;


    &__container{
      justify-content: center;
      background-color: green;
    }

    &__left{
      display: none;
    }

    &__right{
      max-width: 690px;
      align-items: center;

    }

    &__right-item{
      margin-bottom: 100px;
    }

    &__right-top{
      margin-bottom: 40px;
    }

    &__right-heading{
      font-size: 32px;
    }

    &__right-label{
      max-width: 223px;
      width: 100%;

      & + & {
        margin-left: 10px;
      }
    }

    &__input-wrapper{
      padding: 32px 24px 84px;

    }

    &__input-heading{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__result{
      padding: 27px 44px;
    }

  }

}

@media only screen and(max-width: 630px){
  .choice-subscribe{

    &__container{
      background-color: yellow;
    }

    &__right-bottom{
      flex-direction: column;
    }

    &__right-label{
      max-width: 100%;
      min-height: auto;

      & + & {
        margin: 0;
        margin-top: 16px;
      }
    }

    &__input-wrapper{
      padding: 24px 25px;
      display: flex;
      flex-direction: column;
    }

    &__input-heading{

    }

    &__result{
      padding: 32px 24px;
    }
  }
}
