.footer{

  &__container{
    margin-bottom: 88px;
    background-color: $very-dark-grey;
    padding: 47px 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container-inner{
    width: 622px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__container-link{
    text-decoration: none;
  }

  &__container-img{
    max-width: 236px;
    width: 100%;
    max-height: 26px;
    height: 100%;
  }

  &__list{
    display: flex;
    justify-content: space-between;
  }

  &__item:not(:last-child){
    margin-right: 32px;
  }

  &__item-link{
    text-decoration: none;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: $grey;
  }

  &__icon-list{
    width: 120px;
    display: flex;
    justify-content: space-between;
  }

  &__icon-item-img{
    width: 24px;
    height: 24px;
  }
}

@media only screen and (max-width: 1000px){
  .footer{

    &__container{
      margin-bottom: 80px;
      padding: 47px 70px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }


    &__container-inner{
      max-width: 722px;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }

    &__container-link{
      margin-bottom: 30px;
    }

    &__icon-list{
      max-width: 180px;
      width: 100%;
    }

  }

}

@media only screen and (max-width: 425px){
  .footer{
    .container{
      background-color: pink;
    }
    &__container{
      margin: 0 auto;
      max-width: 450px;
      width: 100%;
      margin-bottom: 60px;
      padding: 25px 40px;
    }


    &__container-inner{

      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }

    &__container-link{
      margin-bottom: 30px;
    }

    &__list{
      margin-top: 20px;
    }
    &__item:not(:last-child){
      margin-right: 15px;
    }

    &__icon-list{
      max-width: 130px;
      width: 100%;
    }

  }

}


@media only screen and (max-width: 376px){
  .footer{
    .container{
      background-color: orange;
    }
    &__container{
      margin-bottom: 50px;
      padding: 25px 40px;
    }


    &__container-inner{
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }

    &__container-link{
      margin-bottom: 40px;
    }

    &__container-img{
      max-width: 220px;
      width: 100%;
    }

    &__list{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item:not(:last-child){
      margin-right: 0;
      margin-bottom: 15px;
    }

    &__icon-list{
      max-width: 130px;
      width: 100%;
    }

  }

}