.plan-subscribe{
  margin-bottom: 159px;

  &__list{
    padding: 91px 85px 107px 85px;
    background-color: $very-dark-grey;
    border-radius: 10px;
    display: flex;
  }

  &__item{
    width: calc(100% / 3);
  }

  &__item-line{
    position: relative;
    margin-bottom: 67px;
  }

  &__item-line::before{
    content: "";
    width: 31px;
    height: 31px;
    display: inline-block;
    border: 2px solid $dark-cyan;
    border-radius: 50%;
  }

  &__item-line::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    display: inline-block;
    background-color: $pale-orange;
  }

  &__item:nth-child(3) &__item-line::after{
    display: none;
  }

  &__item-box{
    width: 285px;
  }

  &__item-title{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: $pale-orange;
    margin-bottom: 38px;
  }

  &__item-subtitle{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: $light-cream;
    padding-right: 18px;
    margin-bottom: 42px;
  }

  &__item-subtext{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $light-cream;
  }
}

@media only screen and (max-width: 1100px){
  .plan-subscribe{
    margin-bottom: 159px;
    .container{
      background-color: aqua;
    }
    &__list{
      padding: 91px 82px 107px 82px;
    }

    &__item-line{
      margin-bottom: 65px;
    }

    &__item-box{
      width: 240px;
    }
  }

}

@media only screen and (max-width: 950px){
  .plan-subscribe{
    margin-bottom: 159px;
    .container{
      background-color: greenyellow;
    }
    &__list{
      padding: 91px 80px 107px 80px;
    }

    &__item-line{
      margin-bottom: 55px;
    }

    &__item-box{
      width: 200px;
    }
  }

}

@media only screen and (max-width: 840px){
  .plan-subscribe{
    margin-bottom: 159px;

    &__container{
      padding: 0;
    }
    &__list{
      border: 1px solid red;
      padding: 91px 40px 107px 40px;
    }

    }

    &__item-line{
      margin-bottom: 55px;
    }

    &__item-box{
      width: 200px;
    }
  }

}

@media only screen and (max-width: 840px){
  .plan-subscribe{
    margin-bottom: 159px;

    &__container{
      padding: 0;
    }
    &__list{
      border: 1px solid red;
      padding: 91px 40px 107px 40px;
    }

    &item{

    }

    &__item-line{
      margin-bottom: 55px;
    }

    &__item-box{
      width: 200px;
    }
  }

}